.card-house {
  transition: all .2s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  min-height: 250px;
  position: relative;
  color: #222222;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.05);

  &:hover {
    color: white;

    &::before {
      z-index: 2;
    }

    img {
      max-height: 100%;
    }
  }

  &::before {
    content: "";
    background-color: #2226;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__imagen {
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-height: 250px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
      transition: all 0.3s ease;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;
    color: transparent !important;
    background-color: transparent;
    z-index: 3;

  }

  &__content {
    position: relative;
    margin-top: 230px;
    padding-bottom: 20px;
    z-index: 3;

    &-title {
      min-height: 108px;
      background-color: white;
      padding: 25px 20px 0;
      color: #fab95b;
      width: calc(100% - 30px);
      margin: auto;
      border-radius: 5px;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
      position: relative;
      font-size: 1.2rem;
      line-height: 21px;

      @media (min-width: 768px) {
        background-color: #1a3264;
      }

      .card-house:hover & {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
      }

      &-heading {
        font-size: 1.2rem !important;
        color: #fab95b;
        margin: 0;

        .card-house:hover & {
          color: white;
        }
      }
    }



    &-details {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
      padding: 15px 20px;

      img {
        width: 16px;

        .card-house:hover & {
          filter: invert(1) brightness(25);
        }
      }

      &-recourse {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          width: 16px;
        }

        &-body {
          font-size: 0.8rem;
          color: #222222;

          .card-house:hover & {
            color: white;
          }
        }
      }

      &-view {
        display: flex;
        align-items: center;
        gap: 5px;

        &-body {
          font-size: 0.8rem;
          color: #222222;

          .card-house:hover & {
            color: white;
          }

        }
      }

    }

    &-description {
      padding: 0 20px 15px;
      font-size: 0.9rem;
      color: #222222;

      .card-house:hover & {
        * {
          color: white;
        }

        color: white;
      }
    }
  }

}